[Desktop Entry]
Encoding=UTF-8
Name=Link to ALFA AWUS036NH 2000mW USB Wi-Fi Luxury Pack w/ 6 accessories – Rokland
Type=Link
URL=https://store.rokland.com/products/alfa-awus036nh-2000mw-usb-wi-fi-luxury-pack-w-6-accessories
Icon=text-html
